<!DOCTYPE html>
<html  class="no-js" lang="en">
    <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Health Tracker</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <style>
      main {
        height: 90vh;
        overflow: scroll;
      }

      .footer {
        height: 10vh;
      }

      /* Foundation Medium and up */ 
      @media screen and (min-width: 40em) {

        main {
          height: 100vh;
        }

        footer {
          display: none;
        }
      }
      
    </style>
  </head>
  <body>
   <main>
    <div class="row ht-login-form">
      <!--Container for Login View -->
    </div>
    <div class="row ht-user-timeline">
      <!--Container for User Timeline View -->
      <nav>
        <div class="title-bar" data-responsive-toggle="ht-main-menu" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle></button>
          <div class="title-bar-title">Health Tracker</div>
        </div>
        <div class="top-bar" id="ht-main-menu">
        </div>
      </nav>
      <div class="ht-timeline-container">
      </div>
    </div>
    </main>
    <footer class="footer hide-for-medium">
      
    </footer>

    <!--

      JS Templates

    -->
    <script type="text/template" class="login-template">
      <header class="row">
        <div class="small-1 columns" ></div>
        <div class="small-10 columns">
          <h1 class="text-center">Health Tracker</h1>
        </div>
        <div class="small-1 columns"></div>
      </header>
      <div class="row">
        <div class="small-1 columns"></div>
        <div class="small-10 columns">
          <form class="form-signin" action="#">
            <input type="text" id="userName" class="form-control" placeholder="Create User Name" required autofocus>
            <button class="button" type="submit">Create User</button>
          </form>
        </div>
        <div class="small-1 columns"></div>
      </div>
    </script>

    <script type="text/template" class="user-template">
        <div class="top-bar-right">
          <ul class="menu">
            <li>Welcome to health tracker <strong><%= username %></strong> !</li>
          </ul>
        </div>
        
    </script>

    <script type="text/template" class="timeline-template">
    </script>

    <script type="text/template" class="loader-template">
      <p>Loading...</p>
    </script>

    <script type="text/template" class="menu-template">
        <div class="top-bar-left show-for-medium">
          <ul class="menu ht-menu">
            <li class="daily"><a href="#">Daily</a></li>
            <li class="weekly"><a href="#">Weekly</a></li>
            <li class="monthly"><a href="#">Monthly</a></li>
          </ul>
      </div>
    </script>
  
    <script type="text/template" class="bottom-bar-template">
      <div class="button-group expanded">
        <button class="button">Daily</button>
        <button class="button">Weekly</button>
        <button class="button">Monthly</button>
      </div>
    </script>

    <script type="text/template" class="daily-template">
      <nav class="navbar navbar-default navbar-fixed-top">
          <div class="expanded row">
            <div class="small-2 medium-4 large-5 columns"></div>
            <div class="small-8 medium-4 large-2 columns">
                <button class="button add-day" type="submit">Add Day</button>
            </div>
            <div class="small-2 medium-4 large-5 columns"></div>
          </div>
      </nav>
    </script>

    <script type="text/template" class="day-template">
      <div class="expanded row">
  
        <div class="small-10 small-centered medium-4 columns text-center">
          <h3><%= moment(id, 'YYYY-MM-D').format('dddd, MMMM Do') %></h3>
          <div class="item-list">
              <div class="input-group">
                <input class="input-group-field ht-item" type="text" placeholder="What did you eat today?"></input>
                <div class="input-group-button">
                  <div class="input-group-btn">
                    <input type="submit" class="button add-item" value="Add Item"></input>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </script>

    <script  type="text/template" class="item-template">
    
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." style="display:none">
        <div>
          <span><%= itemName %></span><span> <%= calories %></span><span class="input-group-btn">
          <button class="button delete" type="button">Delete</button>
        </span>
        </div>
      </div><!-- /input-group -->
    </script>

    <script type="text/template" class="weekly-template">
      <p>Weekly View Placeholder</p>
    </script>

    <script type="text/template" class="monthly-template">
      <p>Monthly View Placeholder</p>
    </script>
    <!--
      js Dependencies
    -->
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/jquery-ui.min.js"></script>
    <script src="js/lib/what-input.min.js"></script>
    <script src="js/lib/foundation.min.js"></script>
    <script src="js/lib/moment.min.js"></script>
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>
    <script src="js/models/user.js"></script>
    <script src="js/models/day.js"></script>
    <script src="js/models/item.js"></script>
    <script src="js/collections/users.js"></script>
    <script src="js/collections/days.js"></script>
    <script src="js/collections/items.js"></script>
    <script src="js/views/daily.js"></script>
    <script src="js/views/user.js"></script>
    <script src="js/views/day.js"></script>
    <script src="js/views/weekly.js"></script>
    <script src="js/views/monthly.js"></script>
    <script src="js/views/item.js"></script>
    <script src="js/views/menu.js"></script>
    <script src="js/views/login.js"></script>

    <script src="js/views/usertimeline.js"></script>
    <script src="js/views/healthtracker.js"></script>

    <script src="js/app.js"></script>
    <script>
      $.ajax('https://api.nutritionix.com/v1_1/search/cheddar%20cheese?fields=item_name%2Citem_id%2Cbrand_name%2Cnf_calories%2Cnf_total_fat&appId=c14fb9cf&appKey=3f6a283cc964fd8cc103300670fd3234', {datatype: 'jsonp'})
        .done(function(data){
          console.log(data);
        });
    </script>
  </body>
</html>
