<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Health Tracker</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/jquery-ui.min.css" />
    <link rel="stylesheet" href="css/jquery-ui.structure.min.css" />
    <style>
      body, html {
        height: 100vh;
      }

      main {
        height: 90vh;
        min-height: 90vh;
        overflow: scroll;
      }

      .ht-user-container {
        background: black;
        color: white;
      }

      footer {
        position: fixed;
        width: 100vw;
        height: 10vh;
      }

      /* Foundation Medium and up */ 
      @media screen and (min-width: 40em) {

        main {
          height: 100vh;
        }

        footer {
          display: none;
        }
      }
      
    </style>
  </head>
  <body class="ht-app">
    <main>
    <div class="row expanded text-center ht-user-container">
      <div class="ht-user"></div>
      </div>
      <div class="row expanded ht-menubar">
        <div class="title-bar" data-responsive-toggle="ht-main-menu" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle style="text-indent: -3000em">Menu</button>
          <div class="title-bar-title">Health Tracker</div>
        </div>
        <div class="top-bar" id="ht-main-menu">
          <div class="top-bar-title show-for-medium">Health Tracker</div>
        </div>
      </div>

    <!--Container for Login View -->
    <div class="row ht-login-form">
      
    </div>
    <!--Container for User Timeline View -->
    <div class="row ht-user-timeline">
      <div class="ht-timeline-container">
      </div>
    </div>
    </main>
    <footer class="hide-for-medium">
      
    </footer>

    <!--

      JS Templates

    -->
    <script type="text/template" class="login-template">
      <header class="row expanded">
      
        <div class="small-10 small-centered columns">
          <h1 class="text-center">Health Tracker</h1>
        </div>
      </header>
      <div class="row expanded">
        <div class="small-8 medium-6 small-centered columns">
          <form class="form-signin" >
            <input type="text" id="userName" class="form-control" placeholder="Create User Name" required autofocus>
            <button class="button" type="submit">Create User</button>
          </form>
        </div>
      </div>
    </script>

    <script type="text/template" class="user-template">
      <span class="text-center"> Welcome to Health Tracker <strong><%= username %></strong></span>
    </script>

    <script type="text/template" class="timeline-template">
    </script>

    <script type="text/template" class="loader-template">
      <p>Loading...</p>
    </script>

    <script type="text/template" class="menu-template">
        <div class="top-bar-left">
          <ul class="menu ht-menu">
            <li class="daily" data-timeframe="daily"><a href="#">Daily</a></li>
            <li class="weekly" data-timeframe="weekly"><a href="#">Weekly</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><input type="search" class="add-day-input" placeholder="Add day"></li>
            <li class="add-day"><button class="button" type="submit" >Add Day<button></li>
          </ul>
        </div>
    </script>
  
    <script type="text/template" class="bottom-bar-template">
      <div class="button-group expanded">
        <button class="button daily" data-timeframe="daily">Daily</button>
        <button class="button weekly" data-timeframe="weekly">Weekly</button>
      </div>
    </script>

    <script type="text/template" class="day-template">
      <div class="expanded row">
        <div class="small-10 small-centered columns">
          <div class="row">
            <div class="small-6 columns text-left">
              <h3><%= moment(id, 'YYYY-MM-D').format('dddd, MMMM Do') %></h3>
            </div>
            <div class="small-4 columns text-right">
              <span class="show-for-medium">Total calories: </span><%= calories %>
            </div>
            <div class="small-2 columns text-right">
              <button class="tiny button remove-day" type="button">Delete Day</button>
            </div>          
          </div>
        </div>
      </div>
      <div class="expanded row item-list-container">
        
      </div>
    </script>

    <script type="text/template" class="item-list-template">
      <div class="expanded row day-controls">
        <div class="small-10 small-centered columns text-center">  
          <div class="item-list">

            <div class="row <% if( num_items === 0) print("hide"); %>" >
              <div class="small-6 columns text-left">Item</div>
              <div class="small-3 columns text-left">Calories</div>
              <div class="small-3 columns"></div>
              <hr>
            </div>
          </div>
        </div>
      </div>
      <div class="expanded row">
        <div class="small-10 small-centered medium-6 columns">
        <div class="input-group ui-widget">
          <input class="input-group-field ht-item" type="text" placeholder="What did you eat today?"></input>
          <div class="input-group-button">
            <div class="input-group-btn">
              <input type="submit" class="button add-item" value="Add Item"></input>
            </div>
          </div>
        </div>
        </div>
      </div>
    </script>

    <script  type="text/template" class="item-template">
        <div class="row">
          <div class="small-6 columns text-left"><%= itemName %></div>
          <div class="small-3 columns text-left"> <%= calories %></div>
          <div class="small-3 columns text-right">
            <button class="tiny button delete" type="button">Delete</button>
          </div>
        </div>
    </script>
  
    <script type="text/template" class="daily-template">
      <% if( num_days === 0) print("<p>Please add some days to get started!</p>"); %>
    </script>

    <script type="text/template" class="weekly-template">
      <% if( num_days === 0) { 
        print("<p>Please add some days to get started!</p>");
      } else {
        print( years );
      } %>
     
    </script>

    <script  type="text/template" class="week-template">
        <div class="row">
   
        </div>
    </script>
  

    <!--
      js Dependencies
    -->
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/jquery-ui.min.js"></script>
    <script src="js/lib/what-input.min.js"></script>
    <script src="js/lib/foundation.min.js"></script>
    <script src="js/lib/moment.min.js"></script>
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>
    <script src="js/lib/d3.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>
    <script src="js/models/user.js"></script>
    <script src="js/models/day.js"></script>
    <script src="js/models/item.js"></script>
    <script src="js/models/list.js"></script>
    <script src="js/collections/users.js"></script>
    <script src="js/collections/days.js"></script>
    <script src="js/collections/items.js"></script>
    <script src="js/views/daily.js"></script>
    <script src="js/views/user.js"></script>
    <script src="js/views/day.js"></script>
    <script src="js/views/week.js"></script>
    <script src="js/views/weekly.js"></script>
    <script src="js/views/item.js"></script>
    <script src="js/views/items.js"></script>
    <script src="js/views/menu.js"></script>
    <script src="js/views/login.js"></script>

    <script src="js/views/usertimeline.js"></script>
    <script src="js/views/healthtracker.js"></script>

    <script src="js/app.js"></script>

  </body>
</html>
